@media screen and (max-width: 992px){
  .box-button.res-desktop{
    position: static;
  }
}
@media screen and (max-width: 992px){
  .list-socials {
    ul.box-socials{
      height: auto;
    }
  }
  header#header-vsh {
    .bar-top-header{
      background: #737373;
    }
    .gallery-new{
      border: none;
      background: transparent;
      color: $color-white;
      font-size: 20px;
      padding-top: 10px;
      display: block;
      button.dropdown-toggle{
        background: transparent;
        border: none;
        padding-left: 10px;
      }
      ul.dropdown-menu{
        background: #737373;
        border-radius: 0;
        box-shadow: none;
        border: 0;
        a{
          color: #fff;
        }
      }
    }
    .title-tab {
      ul.tab-title-product {
        display: none;
      }
    }
    .box-menu-header {
      background: $color-white;
      &.fixed{
        .logo-main, .select-option, .filter{
          display: none;
        }
      }
      .logo-main {
        padding: 5px 0;
        text-align: center;
        .logo-home{
          color: #737373;
          font-family: $main-b;
          float: none;
          height: auto;
          font-size: 25px;
          img{width: 100px}
        }
        .box-search{
          display: none;
        }
      }
      .box-menu-mobile {
        display: block;
      }
      .nav-logo-page {
        ul.box-main-menu {
          display: none;
        }
      }
    }

    .box-socials{
      display: none;
    }
    .bar-top-header{
      .list-contact{
        padding: 5px 0;
        text-align: center;
        .language-mobile{
          display: block;
          img{
            width: 50px;
            height: 50px;
          }
        }
        .language, .telephone, .email{
          display: none;
        }
      }
    }
  }
  .title-tab {
    ul.tab-title-product{
      display: none;
    }
  }

  /*menu mobile*/
  nav.nav-logo-page{
    padding: 0;
  }
  ul.box-menu-mobile{

    > li{
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;
      background: #f2f2f2;
      border: 1px solid $color-gray-menu-br;
      padding: 10px;
      font-size: 24px;
      text-transform: uppercase;
      span.num{
        position: absolute;
        top: 5px;
        left: 48%;
        color: $color-white;
        font-size: 20px;
      }
    }
    a.item-menu-mb{
      color: #737373;
      display: block;
      position: relative;
    }
    i{
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      margin-bottom: 10px;
    }
    .icon-product{
      background: url("../images/icon-menu.png") no-repeat;
      background-size: auto 100%;
    }
    .icon-contact{
      background: url("../images/icon-location.png") no-repeat;
      background-size: auto 100%;
    }
    .icon-search{
      background: url("../images/icon-search-black.png") no-repeat;
      background-size: auto 100%;
    }
    i.icon-cart{
      background: url("../images/icon-cart-black.png") no-repeat;
      background-size: auto 100%;
    }
  }
  .filter{
    .btn-select{
      border: 1px solid #ededed;
      color: #828282;
      width: 100%;
      display: block;
      padding: 10px;
      font-size: 18px;
      text-transform: uppercase;
      &:focus{
        text-decoration: none;
        outline: none;
      }
      .btn-arrow{
        margin-bottom: 4px;
        width: 15px;
        height: 15px;
        display: inline-block;
        background: url("../images/icon-arrow-down-black.png") no-repeat center;
        background-size: 100%;
        float: right;
        &.btn-add{
          background: url("../images/icon-plus-black.png") no-repeat center;
          background-size: 100%;
          &.active{
            background: url("../images/icon-devide.png") no-repeat center;
            background-size: 100%;
          }
        }
        &.btn-sort{
          &.active{
            @include rotate(180deg);
          }
        }
      }
    }
  }
  header#header-vsh {
    .box-menu-header{
      position: relative;
    }
  }


.box-filter{
  position: relative;
  margin-bottom: 0;
  .caret-bottom{
    width: 15px;
    height: 15px;
    background: url("../images/icon-arrow-down-black.png") no-repeat center center;
    background-size: 100%;
    display: inline-block;
    float: right;
    margin-top: 3px;
    margin-right: 10px;
    position: absolute;
    right: 5px;
    top: 10px;
  }
  .filter-mobile{
    border-radius: 0;
    background: #737373;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    height: auto;
    border: none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    &:focus{
      box-shadow: none;
    }
  }

}

  .select-option{
    margin: 10px 0;
    margin-bottom: 0;
    button.dropdown-toggle{
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      text-align: left;
      padding: 5px 10px;
      background: #737373;
      color: $color-white;
      border: none;
    }
  }

  .add-filter{
    width: 49%;
    float: left;
    margin: 10px 0;
    margin-right: 1%;

  }
  .sort{
    width: 49%;
    float: left;
    margin: 10px 0;
    margin-left: 1%;
  }


  .btn-yellow-view-more{
    float: right;
    font-size: 15px !important;
  }
  .res-desktop{
    display: none;
  }
  .res-mobile{
    display: block;
  }

  /*products*/
  .title-tab {
    margin-top: 10px;
    margin-bottom: 10px;
    img{
      width: 180px;
    }
    .title-text{
      font-size: 20px;
    }
  }
  .container-jewelry {
    margin-top: 0;
    .box-item-jewelry {
      margin-bottom: 10px;
      margin-top: 10px;
      .name-product{
        font-size: 17px;
      }
      .price-sale {
        .price{
          font-size: 20px;

        }
        .price-old{
          font-size: 16px;
        }
      }
    }
  }

  .box-service {
    .item-service {
      width: 100%;
    }
  }

  /*banner bottom*/
  .banner-contact-slider-house {
    background: #737373;
    .bar-contact-slider-house{
      background: transparent;
      text-align: center;
    }
    .box-contact, .box-socials{
      float: none !important;
      margin-bottom: 10px;
    }
    img{
      display: none;
    }
    ul.box-socials {
      li.item-social {
        a.icon{
        background: url(../images/list-icon-social.png) no-repeat;
          background-size: auto 100%;
        }
      }
    }
  }

  .map-vietnam-sliver-house{
    padding: 0;
  }
  /*footer*/

  footer{
    font-size: 18px;
  }


  /*category*/
  .sidebar-left-cat{
    display: none;
  }
  .box-category{
    .sort-box{
      display: none;
    }
  }


  /*detail product*/

  .box-right-detail {
    .btn-yellow-booking{
      float: none;
      width: 48%;
      margin: 0;
    }
    .btn-yellow-chat
    {
      float: right;
      width: 48%;
      margin: 0;
    }
  }

  /*box tab*/

  .box-mobile-tab{
    .tab-title-product{
      text-align: center;
      border: none;
      margin: 10px 0;
      li{
        display: inline-block;
        float: none;
        a{
          color: #000;
        }
        &.active{
          >a:focus, >a:hover, >a{
            border: none;
            border-bottom: 2px solid #737373;
          }
        }
      }
    }

  }

  table.list-info{
    width: 100%;
  }


  .dr-menu-mobile{
    width: 100%;
    border-radius: 0;
    padding: 0;

    li{
      width: 100% !important;
      padding: 0 !important;
      text-align: left !important;
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      a{
        color: #333;
      }
    }
  }

}