@media screen
and (max-width: $devide_size_mobile)
{
  /*
* devide mobile <425px
*/

  ul.box-menu-mobile {
    a.item-menu-mb{
      font-size: 20px;
    }
  }

  /*slider*/
  .view-detail {
    .box-icon-mini {
      width: 70%;
      img{
        width: 40px;
      }
    }
  }


}