@media screen
and (min-width: $devide_size_mobile)
and (max-width: $devide_size_small)
{
  /*
* devide extra small > 425px and < 768px
*/


}
@media (max-width: 768px)
{
  header#header-vsh {
    .bar-top-header{
      background: #000;
    }
    .gallery-new{
      border: none;
      background: transparent;
      color: $color-white;
      font-size: 20px;
      padding-top: 10px;
      display: block;
      button.dropdown-toggle{
        background: transparent;
        border: none;
        padding-left: 10px;
      }
      ul.dropdown-menu{
        background: #000;
        box-shadow: none;
        border: 0;
      }
    }
    .title-tab {
      ul.tab-title-product {
        display: none;
      }
    }
    .box-menu-header {
      background: $color-white;
      .logo-main {
        padding: 5px 0;
        .logo-home{
          color: $color-black;
          font-family: $main-b;
        }
      }
      .box-menu-mobile {
        display: block;
      }
      .nav-logo-page {
        ul.box-main-menu {
          display: none;
        }
      }
    }

    .box-socials{
      display: none;
    }
    .bar-top-header{
      .list-contact{
        padding: 5px 0;

        text-align: center;
        .language-mobile{
          display: block;
          img{
            width: 50px;
            height: 50px;
          }
        }
        .language, .telephone, .email{
          display: none;
        }
      }
    }
  }
  .title-tab {
    ul.tab-title-product{
      display: none;
    }
  }

  /*menu mobile*/
  nav.nav-logo-page{
    padding: 0;
  }
  ul.box-menu-mobile{

    li{
      display: inline-block;
      float: left;
      width: 25%;
      text-align: center;
      background: $color-gray-menu-mb;
      border: 1px solid $color-gray-menu-br;
      padding: 10px;
      font-size: 24px;
      text-transform: uppercase;
      span.num{
        position: absolute;
        top: 5px;
        left: 48%;
        color: $color-white;
        font-size: 20px;
      }
    }
    a.item-menu-mb{
      color: $color-black;
      display: block;
      position: relative;
    }
    i{
      display: block;
      width: 30px;
      height: 30px;
      margin: auto;
      margin-bottom: 10px;
    }
    .icon-product{
      background: url("../images/icon-menu.png") no-repeat;
      background-size: auto 100%;
    }
    .icon-contact{
      background: url("../images/icon-location.png") no-repeat;
      background-size: auto 100%;
    }
    .icon-search{
      background: url("../images/icon-search-black.png") no-repeat;
      background-size: auto 100%;
    }
    i.icon-cart{
      background: url("../images/icon-cart-black.png") no-repeat;
      background-size: auto 100%;
    }
  }


  .select-option{
    margin: 10px 0;
    margin-bottom: 0;
    button.dropdown-toggle{
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      text-align: left;
      padding: 5px 10px;
      background: $color-black;
      color: $color-white;
      border: none;
    }
  }

  .add-filter{
    width: 49%;
    float: left;
    margin: 10px 0;
    margin-right: 1%;
    button.dropdown-toggle{
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      text-align: left;
      padding: 5px 10px;
      background: transparent;
      color: $color-black;
      border: 1px solid $color-gray-menu-br;
    }
  }
  .sort{
    width: 49%;
    float: left;
    margin: 10px 0;
    margin-left: 1%;
    button.dropdown-toggle{
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      text-align: left;
      padding: 5px 10px;
      background: transparent;
      color: $color-black;
      border: 1px solid $color-gray-menu-br;
    }
  }
  
  .dropdown-toggle{
    .caret-bottom{
      width: 20px;
      height: 20px;
      background: url("../images/icon-arrow-down-black.png") no-repeat center center;
      background-size: 100%;
      display: inline-block;
      float: right;
      margin-top: 3px;
      margin-right: 10px;
    }
    .caret-plus{
      width: 20px;
      height: 20px;
      background: url("../images/icon-plus-black.png") no-repeat center center;
      background-size: 100%;
      display: inline-block;
      float: right;
      margin-top: 3px;
      margin-right: 10px;
    }
  }
  .btn-yellow-view-more{
    float: right;
    font-size: 15px !important;
  }
  .res-desktop{
    display: none;
  }
  .res-mobile{
    display: block;
  }

  /*products*/
  .title-tab {
    margin-top: 30px;
    margin-bottom: 20px;
    img{
      max-width: 100%;
    }
    .title-text{
      font-size: 35px;
    }
  }
  .container-jewelry {
    .box-item-jewelry {
      margin-bottom: 20px;
      .name-product{
        font-size: 20px;
      }
      .price-sale {
        .price{
          font-size: 26px;

        }
        .price-old{
          font-size: 20px;
        }
      }
    }
  }

  /*banner bottom*/
  .banner-contact-slider-house {
    background: $color-black;
    .bar-contact-slider-house{
      background: transparent;
      text-align: center;
    }
    .box-contact, .box-socials{
      float: none !important;
      margin-bottom: 10px;
    }
    img{
      display: none;
    }
    ul.box-socials {
      li.item-social {
        a.icon{
        background: url(../images/list-icon-social.png) no-repeat;
          background-size: auto 100%;
        }
      }
    }
  }

  .map-vietnam-sliver-house{
    padding: 0;
  }
  /*footer*/

  footer{
    background: $color-black;
    color: $color-white;
    font-size: 18px;
  }



}