$devide_size_mobile: 480px;
$devide_size_small: 768px;
$devide_size_medium: 992px;
$devide_size_large: 1200px;
@import "mixin";
/*
* devide large > 1200px
*/
@import "devide_large";

/*
* devide medium > 992px and < 1200
*/
@import "devide_medium";

/*
* devide small > 768px and < 992px
*/
@import "devide_small";

/*
* devide extra small > 425px and < 768px
*/
@import "devide_extra_small";

/*
* devide mobile <425px
*/
@import "devide_mobile";