$devide_size_mobile: 480px;
$devide_size_small: 768px;
$devide_size_medium: 992px;
$devide_size_large: 1200px;
@import "mixin";
/*
* device large > 1200px
*/
@import "device_large";

/*
* device medium > 992px and < 1200
*/
@import "device_medium";

/*
* device small > 768px and < 992px
*/
@import "device_small";

/*
* device extra small > 425px and < 768px
*/
@import "device_extra_small";

/*
* device mobile <425px
*/
@import "device_mobile";