.sidebar-left-cat{
  border-right: 2.5px solid #f6f6f6;
  .title-price{
    text-transform: uppercase;
    color: #dfb858;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 0 10px;
    border-bottom: 1.5px solid #c1c1c1;
  }

}
.box-category{
  .title-tab{
     ul.tab-title-product{
       text-align: left;
       @include justify-content(left);
       li{
         img{
           width: 75px;
         }
         a{
           background: none;
           padding: 0;
           margin: 0;
           span{
             border: none;
             border-radius: 0;
             padding: 0;
             text-align: center;
             position: absolute;
             bottom: 0;
             left: 50%;
             background: transparent;
             color: #f0a750;
             text-transform: initial;
             font-weight: 100;
             @include translate-x(-50%);
             font-family: $main-l;
             font-size: 12px;
             white-space: nowrap;
             cursor: pointer;
           }

         }
         &.active, &:hover{
           background: transparent;
           color: #f0a750;
           border: 1px solid #f0a750;
         }
       }
     }
  }
  .sort-box{
    .title{
      padding-right: 20px;
    }
    text-align: right;
  }
}


.container-category{

  .box-item-jewelry {
    padding-bottom: 20px;
    .name-product{
      font-size: 17px;
      font-weight: 700;
    }
    .price-sale {
      .price{
        font-size: 18px;
      }
      .price-old{
        font-size: 14px;
      }
    }
  }
}