.carousel-products-detail{
  margin: auto;
  margin-top: 20px;
  width: 80%;
  border-bottom: 1px solid #cccccc;
  .owl-stage{
    padding-bottom: 5px;
  }
}


.view-detail{
  .box-icon-mini{
    width: 50%;
    margin: auto;
    margin-top: 15px;
    .item{
      text-align: center;
    }
    img{
      width: 50px;
      display: inline-block;
    }
  }
}
.box-detail{
  .breadcrumb{
    background: transparent;
    margin-bottom: 0;
    padding: 15px 15px;
    padding-left: 0;
    font-size: 20px;
    .breadcrumb-item{
      text-transform: uppercase;
      font-family:$main-b;
      a{
        color: $color-black;
      }
    }
    >li+li:before{
      content: ">";
      color: #000000;
    }
  }

  .title-product{
    font-size: 30px;
    font-family:$main-b;
    color: #bd8e26;
    text-transform: uppercase;
  }
  .code-product{
    color: #aaaaaa;
  }
}
.box-right-detail{
  .price-sale{
    padding: 10px 0;
  }
  .name-price{
    font-size: 30px;
    color: $color-black;
  }
  .price{
    font-size: 30px;
    color: #bd8e26;
    font-family:$main-b;
  }
  .price-old{
    font-size: 18px;
    color: #aaaaaa;
    text-decoration: line-through;
    font-family:$main-b;
  }
  .description{
    .title-des{
      color: #bd8e26;
      font-size: 24px;
    }
    .info-product{
      color: #aaaaaa;
    }
  }

}

.box-detail-product{
  position: relative;
}
.box-button{
  .btn-yellow-booking, .btn-yellow-chat{
    color: #fff;
    background: #bd8e26;
    border-radius: 0;
    margin-right: 20px;
    font-size: 17px;
    width: 170px;
    text-align: center;
    position: relative;
    float: right;
    padding: 12px;
  }
  i.icon-cart{
    display: inline-block;
    background: url("../images/icon-cart-detail.png") no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 9px;
  }
  i.icon-chat{
    display: inline-block;
    background: url("../images/icon-chat.png") no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 9px;
  }
  &.res-desktop{
    position: absolute;
    bottom: 30px;
    right: 83px;
  }
}






.box-service{
  margin: 30px 0;
  .item-service{
    border: 1px solid #aaaaaa;
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    i[class*="icon-"]{
      display: block;
      height: 26px;
    }
    .icon-diamond{
      background: url("../images/icon-diamond.png") no-repeat center;
    }
    .icon-truck{
      background: url("../images/icon-truck.png") no-repeat center;
    }
    .icon-medal{
      background: url("../images/icon-medal.png") no-repeat center;
    }
  }
}
table.list-info{
  width: 69%;
  margin: auto;

  >tbody>tr>td{
    border-top: none;
    padding: 4px;
  }
  td{
    &:first-child{
      font-weight: 700;
    }
  }

}

.box-sales{
  border: 1px solid #aaaaaa;
  padding: 10px;
  .title-sales{
    font-family:$main-b;
    font-size: 24px;
  }
  .list-sales{
    font-weight: 700;
  }
}

.language-mobile{
  float: right;
}