.res-desktop{
  display: block;
}
.res-mobile{
  display: none;
}

header#header-vsh{
  height: auto;
  width: 100%;
  /*navigate status social top*/
  .bar-top-header{
    background: $color-yellow;
    .list-contact{
      padding: 10px 0;
      > a{
        padding-right: 20px;
      }
      span{
        padding-left: 3px;
      }
      .telephone{
        >.svg-inline--fa{
          @include rotate(108deg);
        }
      }
      .language-mobile{
        display: none;
      }
    }
    /*list socials*/


  }
  /*navigate status social top*/

  /*box menu navigation header*/
  .box-menu-header{
    background: $color-gray;
    .box-menu-mobile{
      display: none;
    }
    .logo-main{
      text-align: center;
      .logo-home{
        color: $color-gold;
        font-size: 23px;
      }
    }
    .nav-logo-page{
      ul.box-main-menu{
        margin-top: 17px;
        li.list-menu{
          float: left;
          @include transition(0.3s);
          border-bottom: 5px solid $color-gray-border;

          &:first-child, &:last-child{
            border: none;
          }
          &:last-child{
            a.item-menu {
              padding: 0;
              padding-left: 20px;
            }
           }
          &:hover, &.active {
            border-color: $color-gold-border;
          }
          a.item-menu{
            text-transform: uppercase;
            display: inline-block;
            font-size: 23px;
            padding: 7px 20px;
          }
          a.btn-search{
            &:hover, &.active{
              border: none;

            }
            span.search{
              width: 50px;
              height: 50px;
              background: url("../images/ico-search.png") no-repeat center center;
              -webkit-background-size: 100%;
              background-size: 100%;
              display: inline-block;
            }
          }
          .btn-cart{
            position: relative;
            span{
              position: absolute;
              top: 0;
              right: 6px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  /*box menu navigation header*/

}

.list-socials{
  padding: 5px 0;
  .gallery-new{
    display: none;
  }
  ul.box-socials{
    height: 30px;
    li.item-social{
      display: inline-block;
      padding-right: 15px;
      a.icon{
        display: block;
        width: 31px;
        height: 30px;
        background: url("../images/list-icon-social.png") no-repeat;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
      }
      a.-fb{
        background-position: -40px 0;
      }
      a.-instagram{
        background-position: -3px 0;
      }
      a.-youtube{
        background-position: -79px 0;
      }
    }
  }
}


