.res-desktop{
  display: block;
}
.res-mobile{
  display: none;
}

header#header-vsh{
  height: auto;
  width: 100%;
  /*navigate status social top*/
  .bar-top-header{
    background: #737373;
    .list-contact{
      padding: 5px 15px;
      > a{
        padding-right: 20px;
        &:last-child{
          padding-right: 0;
        }
        img{
          width: 20px;
        }
      }
      span{
        padding-left: 3px;
      }
      .telephone{
        >.svg-inline--fa{
          @include rotate(108deg);
        }
      }
      .language-mobile{
        display: none;
      }
    }
    /*list socials*/


  }
  /*navigate status social top*/

  /*box menu navigation header*/
  .box-menu-header{
    -webkit-transition: .5s time;
    -moz-transition: .5s time;
    -ms-transition: .5s time;
    -o-transition: .5s time;
    transition: .5s time;
    &.fixed{
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99;
      width: 100%;
    }
    background: #a1a1a1;
    .box-menu-mobile{
      display: none;
    }
    .logo-main{
      padding-right: 0;
      .logo-home{
        color: $color-white;
        font-size: 15px;
        letter-spacing: -.5px;
        float: left;
        padding-right: 10px;
        img{
          width: 70px;
          padding-top: 3px;
        }
      }

      .box-search{
        input{
          height: 45px;
          border: none;
          border-radius: 0;
          background: #afafaf;
          box-shadow: none;
          border-right: 1px solid rgba(255,255,255,.2);
          border-left: 1px solid rgba(255,255,255,.2);
          color: #fff;
        }
        span{
          border: none;
          background: #afafaf;
          border-radius: 0;
          cursor: pointer;
          color: #fff;
          font-size: 24px;
        }
      }
    }
    .nav-logo-page{
      padding: 0;
      ul.box-main-menu{
        float: right;
        li.list-menu{
          float: left;
          @include transition(0.3s);

          &:first-child, &:last-child{
            border: none;
          }
          &:last-child{
            a.item-menu {
              padding: 0;
              color: #eebe5c;
              img{
                width: 35px;
              }
            }
           }

          a.item-menu{
            text-transform: uppercase;
            display: inline-block;
            font-size: 15px;
            padding: 12px 17px;
            font-weight: 600;
            color: $color-white;
          }
          &:hover, &.active {
            text-decoration: none;
            a{
              color: #eebe5c;
            }
          }
          a.btn-search{
            &:hover, &.active{
              border: none;

            }
            span.search{
              width: 50px;
              height: 50px;
              background: url("../images/ico-search.png") no-repeat center center;
              -webkit-background-size: 100%;
              background-size: 100%;
              display: inline-block;
            }
          }
          .btn-cart{
            position: relative;
            span{
              position: absolute;
              top: -1px;
              right: 5px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
  /*box menu navigation header*/

}

.list-socials{
  padding: 5px 15px;
  .gallery-new{
    display: none;
  }
  ul.box-socials{
    height: 20px;
    li.item-social{
      display: inline-block;
      padding-right: 15px;
      a.icon{
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/list-icon-social.png") no-repeat;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
      }
      a.-fb{
        background-position: -27px 0;
      }
      a.-instagram{
        background-position: -2px 0;
      }
      a.-youtube{
        background-position: -53px 0;
      }
    }
  }
}
.ad-banner{
  padding: 0;
}
.list-filter{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 999999;
  width: 100%;
  .panel-group {
    .panel{
      border: none;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
    }
    .panel-default{
      >.panel-heading{
        background: #f2f2f2;
        padding: 0;
        a{
          display: block;
          padding: 10px;
          color: #828282;
        }
      }
    }
  }
}

.input-search-mb{
  margin: 5px 0;
  display: none;
  input{
    border-radius: 0;
  }
}

