body{
  font-family: $main-l;
  font-size: 14px;
  color: $color-black-text;
  background: $color-gray-bg;
  a{
    color: $color-white;
    &:hover, &:active, &:visited, &:focus{
      cursor: pointer;
      color: $color-white;
    }
  }
}

.owl-animated-out {
  z-index : 1
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index : 0
}

.back-to-top{top:0px;left:0px;
  width:74px;height:76px;background: url("../images/sprites.png") no-repeat -268px -125px;display: inline-block;}
.icon-arrow-down-black{top:0px;left:0px;
  width:38px;height:26px;background: url("../images/sprites.png") no-repeat -87px -316px;display: inline-block;}
.icon-arrow-down{top:0px;left:0px;
  width:48px;height:31px;background: url("../images/sprites.png") no-repeat -0px -316px;display: inline-block;}
.icon-cart-black{top:0px;left:0px;
  width:89px;height:79px;background: url("../images/sprites.png") no-repeat -257px -46px;display: inline-block;}
.icon-cart{top:0px;left:0px;
  width:45px;height:44px;background: url("../images/sprites.png") no-repeat -212px -111px;display: inline-block;}
.icon-fb{top:0px;left:0px;
  width:133px;height:133px;background: url("../images/sprites.png") no-repeat -135px -183px;display: inline-block;}
.icon-flag{top:0px;left:0px;
  width:27px;height:18px;background: url("../images/sprites.png") no-repeat -161px -316px;display: inline-block;}
.icon-intagram{top:0px;left:0px;
  width:135px;height:133px;background: url("../images/sprites.png") no-repeat -0px -183px;display: inline-block;}
.icon-location{top:0px;left:0px;
  width:51px;height:74px;background: url("../images/sprites.png") no-repeat -268px -272px;display: inline-block;}
.icon-mail{top:0px;left:0px;
  width:13px;height:10px;background: url("../images/sprites.png") no-repeat -0px -347px;display: inline-block;}
.icon-menu{top:0px;left:0px;
  width:72px;height:58px;background: url("../images/sprites.png") no-repeat -140px -125px;display: inline-block;}
.icon-phone{top:0px;left:0px;
  width:10px;height:15px;background: url("../images/sprites.png") no-repeat -87px -342px;display: inline-block;}
.icon-plus-black{top:0px;left:0px;
  width:36px;height:37px;background: url("../images/sprites.png") no-repeat -125px -316px;display: inline-block;}
.icon-search-black{top:0px;left:0px;
  width:70px;height:71px;background: url("../images/sprites.png") no-repeat -268px -201px;display: inline-block;}
.icon-search{top:0px;left:0px;
  width:39px;height:41px;background: url("../images/sprites.png") no-repeat -48px -316px;display: inline-block;}
.icon-youtube{top:0px;left:0px;
  width:140px;height:137px;background: url("../images/sprites.png") no-repeat -0px -46px;display: inline-block;}
.logo-vsh{top:0px;left:0px;
  width:117px;height:65px;background: url("../images/sprites.png") no-repeat -140px -46px;display: inline-block;}
.star{top:0px;left:0px;
  width:338px;height:46px;background: url("../images/sprites.png") no-repeat -0px -0px;display: inline-block;}

@import "header",
        "slider",
        "product",
        "footer";
