body{
  font-family: $main-l;
  font-size: 14px;
  color: $color-black-text;
  background: $color-gray-bg;
  a{
    color: $color-white;
    &:hover, &:active, &:visited, &:focus{
      cursor: pointer;
      color: $color-white;
    }
  }
}

.owl-animated-out {
  z-index : 1
}
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */
.owl-animated-in {
  z-index : 0
}

@import "header",
        "slider",
        "product",
        "footer",
        "gallery",
        "category",
        "detail-product";
